body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(56, 53, 56); 
}
  
.calculator {
  background-color: #111112;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(100000000, 50000000, 5000, 20);
}

.display {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e0d3daaa;
  color: #19191b;
  border-radius: 10px;
  text-align: right;
  font-family: 'Roboto', sans-serif
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 30px;
  font-size: 1.7em;
  border: none;
  background-color: #5ad438;
  color: #1a1919;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0ec5e9;
}

.btn-clear {
  background-color: #a92c0d;
}

.btn-clear:hover {
  background-color: #c37721;
}



